.body {
  margin: 0;
  padding: 0;
  background-color: #d9d9e9;
  width: 100%;
  height: 100vh;
}
.body.dark {
  background-color: #403d51;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #e9e9f2;
  color: #3b515c;
  outline: 0;
  border: 0;
  width: 80%;
  height: 3.5rem;
  border-radius: 1rem;
  padding: 0 1rem;
  margin: 1rem 0;
}
input.dark {
  background-color: #262837;
  color: #8a919e;
}

input::placeholder {
  color: #8a919e;
}
input.dark::placeholder {
  color: #7e8189;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  background-color: #525298;
  color: #ffffff;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: #3b3b6d;
}

textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #e9e9f2;
  color: #3b515c;
  outline: 0;
  border: 0;
  width: 80%;
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin: 1rem 0;
  line-height: 2rem;
  resize: none;
}
textarea.dark {
  background-color: #262837;
  color: #8a919e;
}

textarea::placeholder {
  color: #8a919e;
}
textarea.dark::placeholder {
  color: #7e8189;
}
